<launch>
    <arg name="bus_id" default="0"/>
    <arg name="address" default="0"/>
    <arg name="esc_port" default="1"/>
    <arg name="servo_port" default="0"/>

    <node name="servo" pkg="servo" type="servo_run" launch-prefix="gdbserver 0.0.0.0:1234" output="screen">
        <param name="bus_id" value="$(arg bus_id)"/>
        <param name="address" value="$(arg address)"/>
        <param name="esc_port" value="$(arg esc_port)"/>
        <param name="servo_port" value="$(arg servo_port)"/>
    </node>
</launch>
